{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react",
        ["@babel/preset-typescript",{
            "isTSX": true,
            "allExtensions": true
        }]
    ],
    "plugins": [
        "@babel/plugin-proposal-export-default-from",
        [
            "@babel/plugin-proposal-decorators",
            {
                "legacy": true
            }
        ],
        [
            "@babel/plugin-proposal-class-properties",
            {
                "loose": true
            }
        ],
        "react-native-reanimated/plugin",
        "@babel/plugin-proposal-export-namespace-from"
    ]
}