#initializationLoading{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#initializationLoading #progress{
    height: 40px;
    width: 40px;
    border: 4px solid #2196f3;
    border-radius: 100%;
    border-top-color: transparent;
    animation: loading 0.5s linear infinite;
}
@keyframes loading {
    from {
        transform: rotate( 0deg ) ;
    }
    to {
        transform : rotate( 360deg ) ;
    }
}