.am-list-item .am-list-extra {
    flex-basis: 70%;
}

.am-modal-wrap.fullscreen {
    z-index: 899!important;
}

.fullscreen .am-modal {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.fullscreen .am-modal-content {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.fullscreen .am-modal-body {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.slider-slide {
    /* height: 150px!important; */
    width: 100%!important;
}

.am-list-body::before {
    height: 0px!important;
}

.am-list-body::after{
    height: 0px!important;
}

.am-swipe .am-swipe-actions-right {
    right: 1;
    top: 1;
}

.am-pull-to-refresh-content-wrapper {
    overflow: visible!important;
}