.am-modal-content {
    height: auto!important;
}

.am-modal-body {
    height: auto!important;
}

.am-search * {
    box-sizing: content-box;
}

.am-search-synthetic-ph {
    display: flex!important;
    justify-content: center;
    align-items: center;
}

.am-modal-button {
    cursor: pointer;
}

.am-modal-wrap.sibling {
    align-items: stretch;
}

.sibling .am-modal {
    flex: 1;
    align-items: stretch;
    display: flex;
    background: #0000;
    flex-direction: column;
}

.sibling .am-modal-transparent .am-modal-content {
    padding-top: 0;
    display: flex;
    flex:1;
    background: #0000;
    border-radius: 0;
}
.sibling .am-modal-transparent .am-modal-content .am-modal-body {
    padding: 0;
    display: flex;
    flex: 1;
    justify-content: center;
}

.am-modal-wrap {
    z-index: 9999!important;
}

.am-modal-mask {
    z-index: 9999!important;
}